<a href="https://colab.research.google.com/github/Yankee1231/Control_Engineering/blob/main/Python_review4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#변수의 좋은 예
pos_x = 10
num_values = 5
_event_flag = False

# 변수의 나쁜 예
abc = 4
al = 50
xxxx = 3.4
temp1 = 4
temp2 = 5

# 정수
number = 5

# 실수
value = 2.5

# bool
is_number = True

# 문자열(string)
name = 'Ivan'

# 정수가 실수로 바뀌는 경우
number = number / 2
print('number = ', number)

number =  2.5

In [ ]:
a = 10
b = 2.5
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)
print(a>b, a>=b, a<b, a<=b, a==b, a!=b, a>b or a<=b, a>b and a<=b)

12.5 7.5 25.0 4.0 4.0 0.0 316.22776601683796
True True False False False True True False

In [ ]:
# numpy 라이브러리의 활용법은 나중에 좀 더 자세히 다룰 예정입니다.
import numpy as np
angle = np.pi/4
print(angle)
print(np.sin(angle))
print(np.cos(angle))
print(np.exp(angle))
print(np.round(angle))
print(np.ceil(angle))
print(np.floor(angle))

0.7853981633974483
0.7071067811865475
0.7071067811865476
2.1932800507380152
1.0
1.0
0.0

In [ ]:
for i in [4, 'text', 1.5, True, {'name':'Charles', 'age':15}]:
    print(i)

4
text
1.5
True
{'name': 'Charles', 'age': 15}

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
    if i==3:
        break
    for j in range(5):
        if j==2:
            break
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [11]:
i = [1, 2, 3, 4, -1, 5, 6, 7, 8]
j = []
count = 0
while(i[count]>0):
    j.append(i[count])
    count = count + 1
print(j)

[1, 2, 3, 4]

In [19]:
for i in range(2, 5):
    for j in range(1, 10):
        print('%d*%d = %d' %(i, j, i*j))
    print('--------')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
--------
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
--------
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
--------

In [ ]:
# 프로그램 동작에 관한 정보를 제공한다.
print('원하는 단수를 입력하시고, 종료하시면 -1을 입력하세요.')

# 의도적으로 무한루프를 활용한다.
while(True):

    # 사용자가 정수를 입력해준다고 가정한다.
    i = int(input())

    # -1 입력시 반복문을 탈출한다.
    if i == -1:
        break

    # 출력
    for j in range(1, 10):
        print('%d x %d = %d' %(i, j, i*j))

원하는 단수를 입력하시고, 종료하시면 -1을 입력하세요.
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27